:root {
    --max-desktoop-width: 1440px;
    --max-mobile-width: 375px;

    --reaction-color: hsl(0, 100%, 67%);
    --reaction-bg-color: hsla(0, 100%, 67%, 5%);
    --memory-color: hsl(39, 100%, 56%);
    --memory-bg-color: hsl(39, 100%, 56%, 5%);
    --verbal-color: hsl(166, 100%, 37%);
    --verbal-bg-color: hsl(166, 100%, 37%, 5%);
    --visual-color: hsl(234, 85%, 45%);
    --visual-bg-color: hsl(234, 85%, 45%, 5%);

    --left-bg-top-color: hsl(252, 100%, 67%);
    --left-bg-bottom-color: hsl(241, 81%, 54%);

    --circle-top-color: hsla(256, 72%, 46%, 1);
    --circle-bottom-color: hsla(241, 72%, 46%, 0);

    --background-color: hsl(0, 0%, 100%);
    --titles-color: hsl(221, 100%, 96%);
    --text-color: hsl(241, 100%, 89%);
    --btn-color: hsl(224, 30%, 27%);

    --font: "Hanken Grotesk", sans-serif;

}

